<div align="center">
<form action='create' method='post'>

            <label> Titolo <label/>
              <input type='txt' name='title' value=' ' id='title' />
                  <br>
                  <br>
            <label> Testo <label/>
              <input type='txt' name='body' value=' ' id='body' />
<br>
<br>
      <button type='submit'>Conferma!</button>
    </form>
</div>
